{{extend 'layout.html'}}

{{block head}}

<style>
    .profile_screen {
        padding: 20px;
        padding-right: 20px;
    }

    .profile_title {
        padding: 0px;
        font-family: sans-serif;
        text-align: center;
    }

    .my_profile {
        border: solid black 1px;
        border-radius: 15px;
        margin-right: 20px;
    }

    .stats {
        padding: 20px !important;
    }

    .stat {
        padding: 5px;
    }

    .profile_goals {
        padding: 20px !important;
    }

    .cur_plan {
        padding: 5px;
        border: solid black 1px;
        border-radius: 5px;
        fill: #26a69a;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #000000;
        margin: 1em 0;
        padding: 0;
    }

    .plan_list_div {
        padding: 20px;
        border: solid black 1px;
        border-radius: 10px;
        margin-top: 20px;
    }

</style>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_profile_url = "{{=URL('api', 'get_profile', user_signature=True)}}";
</script>


{{end}}

<div class="main_content">

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <div class="profile_screen container">
          <div class="my_profile">
              <div class="profile_title"><h2>My Profile</h2></div>
              <hr/>
              <div class="info_block container center">
                  <div class="stats half">
                      <div class="stat">Height:</div>
                      <div class="stat">Weight:</div>
                      <div class="center"><span class="cur_plan center">Current Plan</span></div>
                  </div>
                  <div class="profile_goals half">
                      Goals: here are my current goals
                  </div>
              </div>

          </div>
          <div class="half plan_list_div">
              <div class="center"><h5>My Plans</h5></div>
              <div class="container">
                  <div  class="plan_list"> <!-- v-for=not now" -->
                      <div class="plan_description">

                      </div>
                      <div class="plan_info container">
                          <div class="twothirds created_by"></div>
                          <div class="third plan_buttons"></div> <!-- if user logged in -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="half plan_list_div">
              <div class="center"><h5>Followed Plans</h5></div>
              <div class="container">
                  <div  class="plan_list"> <!-- v-for=not now" -->
                      <div class="plan_description">

                      </div>
                      <div class="plan_info container">
                          <div class="twothirds created_by"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
