{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var images_url = "{{=URL('api', 'get_images')}}";
    var users_url = "{{=URL('api', 'get_users')}}";
    var add_image_url = "{{=URL('api', 'add_image', user_signature=True)}}";
    var self_url = "{{=URL('api', 'get_self_id', user_signature=True)}}";
</script>


{{end}}

<div class="main_content">

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <div class="container">
          <div class="my_profile">
              <div>My Profile</div>
              <div class="container">
                  <div class="stats half">
                      <div>Height:</div>
                      <div>Weight:</div>
                      <div>Current Plan</div>
                  </div>
                  <div class="profile_goals half">
                      Goals: here are my current goals
                  </div>
              </div>

          </div>
          <div class="half my_plans">
              <div>My Plans</div>
              <div class="container">
                  <div  class="plan_list"> <!-- v-for=not now" -->
                      <div class="plan_description">

                      </div>
                      <div class="plan_info container">
                          <div class="twothirds created_by"></div>
                          <div class="third plan_buttons"></div> <!-- if user logged in -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="half followed_plans">
              <div>Followed Plans</div>
              <div class="container">
                  <div  class="plan_list"> <!-- v-for=not now" -->
                      <div class="plan_description">

                      </div>
                      <div class="plan_info container">
                          <div class="twothirds created_by"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>



  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
