{{extend 'layout.html'}}

{{block head}}

<style>
    .profile_screen {
        padding: 20px;
        padding-right: 20px;
    }

    .profile_title {
        padding: 0px;
        font-family: sans-serif;
        text-align: center;
    }

    .my_profile {
        border: solid black 1px;
        border-radius: 15px;
        margin-right: 20px;
    }

    .stats {
        padding: 20px !important;
    }

    .stat {
        padding: 5px;
    }

    .profile_goals {
        padding: 20px !important;
    }

    .cur_plan {
        padding: 5px;
        border: solid black 1px;
        border-radius: 5px;
        fill: #26a69a;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #000000;
        margin: 1em 0;
        padding: 0;
    }

    .plan_list_div {
        padding: 20px;
        border: solid black 1px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .my_plans {
        text-align: right;
    }

    .single_plan{
        border: solid black 1px;
        border-radius: 15px;
        margin-right: 20px;
    }

    .button_bar{
        margin-top: 5px;
    }

    .plan_left {
        padding-left: 10% !important;
    }

    .plan_right {
        padding-right: 10% !important;
    }
</style>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_profile_url = "{{=URL('api', 'get_profile', user_signature=True)}}";
    var edit_profile_url = "{{=URL('api', 'edit_profile', user_signature=True)}}";
    var add_plan_url = "{{=URL('api', 'add_plan', user_signature=True)}}";
    var get_my_plans_url = "{{=URL('api', 'get_my_plans', user_signature=True)}}";
    var log_in_url = "{{=URL('api', 'log_in')}}";
    var delete_plan_url = "{{=URL('api', 'delete_plan', user_signature=True)}}";
    var view_plan_url = "{{=URL('api', 'view_plan')}}";
    var browse_url = "{{=URL('api', 'browse')}}";
</script>


{{end}}

<div class="main_content">
    <div id="vue-div" class="display:none">
        <div v-if="page=='profile'" class="profile_screen container">
            <div class="my_profile">
                <div class="profile_title"><h2>My Profile</h2></div>
                <hr/>
                <div v-if="profile_loaded" class="info_block container center">
                    <div class="stats half">
                        <div class="stat">
                            Height: <input v-model="user_profile.height" v-on:blur="edit_profile" type="number">
                        </div>
                        <div class="stat">
                            Weight: <input v-model="user_profile.weight" v-on:blur="edit_profile" type="number">
                        </div>
                        <div class="center"><span class="cur_plan center">Current Plan</span></div>
                    </div>
                    <div class="profile_goals half">
                      Goals: ${user_profile.goals}
                    </div>
                </div>
            </div>
            <div class="half padded container">
                <div class="plan_list_div">
                    <div class="container">
                        <div class="my_plans half">
                            <div class="left"><h5>My Plans</h5></div>
                        </div>
                        <div style="padding-top: 12px" class="third right">
                            <button class="btn rounded" v-on:click="adding_plan">New Plan</button>
                        </div>
                    </div>
                    <hr/>
                    <div v-for="plan in my_plans">
                        <div class="single_plan container padded">
                            <div class="twothirds">
                                <h6>${plan.title}</h6>
                            </div>
                            <div class="button_bar container third right">
                                <div class="padding third">
                                    <button class="btn rounded" v-on:click="view_plan(plan.id)">
                                        <i class="fa fa-eye"></i>View
                                    </button>
                                </div>
                                <div class="padding third">
                                    <button class="btn rounded" v-on:click="edit_plan(plan.id)">
                                        <i class="fa fa-edit"></i>Edit
                                    </button>
                                </div>
                                <div class="padding third">
                                    <button class="btn rounded" v-on:click="delete_plan(plan.id)">
                                        <i class="fa fa-trash"></i>Delete
                                    </button>
                                </div>
                            </div>
                            <div>${plan.goals}</div>
                        </div>
                        <h6></h6>
                    </div>
                </div>
            </div>
            <div class="half padded container">
                <div class="plan_list_div">
                    <div class="container">
                        <div class="my_plans half">
                            <div class="left"><h5>Followed Plans</h5></div>
                        </div>
                        <div style="padding-top: 12px" class="third right">
                            <button v-on:click="browse" class="btn rounded">Browse</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container">
                        <div v-for="plan in my_plans"> <!-- v-for=not now" -->
                            <div class="plan_list">
                                <div class="single_plan plan_description container padded">
                                    <div class="container twothirds">
                                        <h6>${plan.title}</h6>
                                    </div>  
                                    <div class="button_bar container third right">
                                        <div class="third">
                                            <button class="btn rounded" v-on:click="view_plan(plan.id)"><i class="fa fa-eye"></i>View</button>
                                        </div>
                                        <div class="third">
                                            <button class="btn rounded" v-on:click="delete_plan(plan.id)"><i class="fa fa-eye-slash"></i>Unfollow</button>
                                        </div>
                                    </div>
                                    <div class="container">${plan.goals}</div>
                                </div>
                                <h6> </h6>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="page == 'adding'" class="container">
            <div class="half plan_left">
                Title
                <input id="title_input" type="text">
                Goals:
                <input id="goals_input" type="text">
                Expected results:
                <input id="results_input" type="text">
                <button class="btn rounded" v-on:click="profile">Cancel</button>
                <button class="btn rounded" v-on:click="add_plan">Submit</button>
            </div>
            <div class="half plan_right">
                <div>
                    Sunday
                    <!--<textarea class="textarea" placeholder="Message" v-model="form.message"></textarea>-->
                    <input id="Sunday_input" type="textarea">
                </div>
                <div>
                    Monday
                    <input id="Monday_input" type="textarea">
                </div>
                <div>
                    Tuesday
                    <input id="Tuesday_input" type="textarea">
                </div>
                <div>
                    Wednesday
                    <input id="Wednesday_input" type="textarea">
                </div>
                <div>
                    Thursday
                    <input id="Thursday_input" type="textarea">
                </div>
                <div>
                    Friday
                    <input id="Friday_input" type="textarea">
                </div>
                <div>
                    Saturday
                    <input id="Saturday_input" type="textarea">
                </div>
            </div>
        </div>

        <div v-if="page == 'editing'" class="container">
            <div class="half plan_left">
                <!--Insert V-Models Here?-->
            </div>
            <button class="btn rounded" v-on:click="profile">Cancel</button>
        </div>

        <div v-if="page == 'viewing'" class="container">
            <div class="half plan_left">
                <h2>${open_plan.title}</h2>
                <h4>Goals</h4>
                ${open_plan.goals}
                <h4>Expected Results</h4>
                ${open_plan.results}
                <br>
                <button class="btn rounded" v-on:click="profile">Exit</button>
            </div>
            <div class="half plan_right">
                <div>
                    <h4>Sunday</h4>
                    ${open_plan.Sunday}
                </div>
                <div>
                    <h4>Monday</h4>
                    ${open_plan.Monday}
                </div>
                <div>
                    <h4>Tuesday</h4>
                    ${open_plan.Tuesday}
                </div>
                <div>
                    <h4>Wednesday</h4>
                    ${open_plan.Wednesday}
                </div>
                <div>
                    <h4>Thursday</h4>
                    ${open_plan.Thursday}
                </div>
                <div>
                    <h4>Friday</h4>
                    ${open_plan.Friday}
                </div>
                <div>
                    <h4>Saturday</h4>
                    ${open_plan.Saturday}
                </div>
            </div>
        </div>

        <div v-if="page == 'browsing'" class="container">
            <div class="plan_list_div">
                <div class="container">
                    <div v-for="plan in my_plans"> <!-- v-for=not now" -->
                        <div class="plan_list">
                            <div class="single_plan plan_description container padded">
                                <div class="container twothirds">
                                    <h6>${plan.title}</h6>
                                </div>  
                                <div class="button_bar container third right">
                                    <div class="third">
                                        <button class="btn rounded" v-on:click="view_plan(plan.id)"><i class="fa fa-eye"></i>View</button>
                                    </div>
                                    <div class="third">
                                        <button class="btn rounded" v-on:click=""><i class="fa fa-heart "></i>Follow</button>
                                    </div>
                                </div>
                                <div class="container">${plan.goals}</div>
                            </div>
                            <h6> </h6>    
                        </div>
                    </div>
                </div>
            <button class="btn rounded" v-on:click="profile">Exit</button>
            <!--making is browsing bool so that when you return from viewing, you go back to browsing.-->
        </div>

    </div>
</div>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
